<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@mattcopp-blog</title>
        <link rel="icon" type="image/png" href="/static/img/favicon.png">
        <link rel="stylesheet" href="/static/css/blueprint/reset.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/static/css/blueprint-plugin---liquidgrid/liquid.css" type="text/css" media="screen, projection" />
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="static/css/blueprint/ie.css" type="text/css" media="screen, projection"/>
        <![endif]-->
        <link rel="stylesheet" href="/static/css/media.css" />
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/scripts.js"></script>
    </head>
    <body>
        <a href="#content" class="accessability">Skip to content</a>
        <a href="#navigation" class="accessability">Skip to navigation</a>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="notifications">
        {% for message in messages %}
            <li class="notification">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
        <div class="bar gradient-small">
            <a href="/" class="inline outline" title="Go home"><img src="/static/img/logo.png" alt="@mattcopp" title="Logo" /></a>
            <ul class="inline-list top" id="navigation">
                <li class="menu-item"><a class="color1" href=""><div>About</div></a></li>
                <li class="menu-item"><a class="color1" href=""><div>Projects</div></a></li>
                <li class="menu-item"><a class="color1" href=""><div>Contact</div></a></li>
            </ul>
        </div>
        <div class="container">
            <div id="content" class="column span-18">
                <div class="nodes separated-right">
{% block contents -%}
                    <p>There is nothing to see here. Sorry. <a href="/">Go back to front page.</a></p>
{%- endblock %}
                </div>
            </div>
            <div class="column span-6 last">
                <div class="sidebar">
                    {% include "sidebar.jinja.html" -%}
                </div>
            </div>
            <div class="column span-24 center small">
                &nbsp;
            </div>
        </div>
    </body>
</html>
