                    {% if get_page("about") %}
                    <h3 class="endsection">About</h3>
                    {{ get_page("about").content }}
                    {% endif %}
                    <h3 class="endsection">Welcome {{ user.name -}}</h3>
                    <h3 class="endsection">Latest Posts</h3>
                    <ul class="ordered">
                        {% for post in latest_posts %}
                            <li><a href="{{ url_for("posts.show", year=post.published.year, month=post.published.month, name=post.name) }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% if get_page("extras") %}
                    <h3 class="endsection">More Info</h3>
                    {{ get_page("extras").content }}
                    {% endif %}
